[build.environment]
  NODE_VERSION = "14"
  NPM_FLAGS = "--prefix=/dev/null"
[build]
  command = "npx pnpm i --store=node_modules/.pnpm-store && npx pnpm run build"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"